<!DOCTYPE HTML>
<html>
	<head>
		<title>문제 풀이 그룹 페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css"/>
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/Milk T logo.png" alt="" /></span><span class="title">Milk T</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>그룹 관리</h1>							
								<hr/>
								<span class="image">
									<h2>문제내용</h2>
									<img src="static/images/Problem1.png" alt="" />
								</span>
								<hr/>
							</header>
							<section class="tiles">							
								<article class="style1">
									<span class="image">
										<img src="static/images/Group.png" alt="" />																		
									</span>
									<a onclick="window.location.href='/group_management_vote'" style="height: 100%;">									
										<h1 style=" margin-top: 75%; position:relative; Color:black;">Group A</h1>
									</a>
		
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Group.png" alt="" />
									</span>
									<a onclick="window.location.href='/group_management_vote'" style="height: 100%;">									
										<h1 style=" margin-top: 75%; position:relative; Color:black;">Group B</h1>
									</a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Group.png" alt="" />
										
									</span>
									<a onclick="window.location.href='/group_management_vote'" style="height: 100%;">
										<h1 style="margin-top: 75%; position:relative; Color:black;" >Group C</h1>
									</a>
								</article>		
							</section>					
						</div>
						
					</div>
				</div>
			</div>

				<!-- Footer -->
					<footer id="footer">					
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>