<!DOCTYPE HTML>
<html>
	<head>
		<title>그룹 페이지(투표 종료)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main2.css"/>
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/Milk T logo.png" alt="" /></span><span class="title">Milk T</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>그룹 A / 투표 종료</h1>								
								<hr/>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">이재형</button>
										<img src="static/images/Answer1.jpg" alt="" />
										<form action="/nft_publication" method="GET" style="">
											<button type ="submit" style="width:100%;">NFT 발행하기</button>
										</form>
									</span>
									<a></a>
								</article>
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">정원기</button>
										<img src="static/images/Answer2.jpg" alt="" />
									</span>
									<a></a>													
								</article>
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">홍희선</button>
										<img src="static/images/Answer3.jpg" alt="" />
									</span>
									<a></a>
								</article>
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">김용범</button>
										<img src="static/images/Answer4.jpg" alt="" />
									</span>
									<a></a>
								</article>
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">김민아</button>
										<img src="static/images/Answer5.jpg" alt="" />
									</span>
									<a></a>
								</article>
								<article class="style1">
									<span class="image">
										<button type ="button" style="width:40%; position:relative;">김미나</button>
										<img src="static/images/Answer6.png" alt="" />
									</span>
									<a></a>
								</article>								
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">						
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script src="static/js/pythonrun.js"></script>

	</body>
</html>