<!DOCTYPE HTML>
<html>
	<head>
		<title>문제 관리 페이지</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css"/>
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/Milk T logo.png" alt="" /></span><span class="title">Milk T</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>문제 관리</h1>
								<hr/>
							</header>
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem1.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>																		
									</span>
									<a onclick="window.location.href='/group_management'"></a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem2.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>										
									</span>
									<a onclick="window.location.href='/group_management_2'"></a>																				
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem3.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>	
									</span>
									<a onclick="window.location.href='/group_management_3'"></a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem4.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>	
									</span>
									<a onclick="window.location.href='/group_management_4'"></a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem5.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>
									</span>
									<a onclick="window.location.href='/group_management_5'"></a>
								</article>
								<article class="style1">
									<span class="image">
										<img src="static/images/Problem6.png" alt="" />
										<button type ="button" style="width:30%; margin-right:38%; position:relative;">수정</button>
										<button type ="button" style="width:30%; position:relative;">삭제</button>	
									</span>
									<a onclick="window.location.href='/group_management_6'"></a>
								</article>		
								<article class="style2">
									<span class="image">
										<img src="static/images/Upload.png" alt="" />										
									</span>
									<a onclick="window.location.href='/problem_upload'"></a>									
								</article>							
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">						
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>